
@{
    ViewData["Title"] = "Edit";
}

@model Todo

<h1>Edit Task</h1>

<form method="post" asp-action="SaveEdit" asp-controller="Todo" asp-route-id="@Model.Id">

    <div class="form-group">
        <label for="textTaskName">Task name:</label>
        <input type="text" asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label" for="checkCompleteTask">Completed task?</label>
        <input type="checkbox" asp-for="Finished" id="Completed"/>
    </div>
    <button type="submit" class="btn btn-outline-dark btn-sm">Submit</button>
    
</form>