
@{
    ViewData["Title"] = "Index";
}

<h1>My Tasks</h1>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{

    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> @ViewBag.Message
    </div>

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>

}

@model List<Todo>

<table width="100%" border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Name</td>
                <td>@(task.Finished ? "Finished" : "Open")</td>
                <td><a class="btn btn-warning btn-sm" href="/Todo/Edit?id=@task.Id">Edit</a>
                <a class="btn btn-danger btn-sm" href="/Todo/Delete?id=@task.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<br />
<div>
    <a class="btn btn-dark btn-sm" asp-controller="Todo" asp-action="New">New Task</a>
</div>
